@import '../../../../styles/colors.module.scss';

// A div de toda a página do react do home que não precisa ser autenticado. Colocamos um display flex para alinharmos como uyma linha, além disso, centralizou tanto no eixo x quanto no eixo y de minha aplicação. Colocou uma distancia utilizando o padding, o gap a distancia entre os itens e adicionando a cor vermelha na nossa aplicação.
.ctaSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 30px;
    background-color: $lightRed;

}
//A imagem da parte superior, que está junto com o recado de cadastro. Alteramos a largura da imagem para um padrão de 20px.

.imgCta{
    width: 20px;
}
//O container da minha página. Colocamos o display flex, para que posa ficar na mesma linha, colocamos um espaçamento space-between, para que fica distante a imagem e os botões. Colocamos o flez-wrap, para que os botões e a imagem não se toquem quando estiverem sendo responsiveis e uma margem do topo para que não fique grudado com o cabeçaho
.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}


//A imagem da página
.imgLogoNav {
    width: 180px;
}
//A configuração dos botões da página. COnfiguramos a margem do botão, a cor de sua borda, a cor da letra e o atraso em segundos do hover. Além disso, é alterado a configuração quando o mouse passa por cima do botão, como nosso hover 
.navBtn{
    margin: 0px 5px;
    border-color: transparent;
    color: $lightGray;
    transition: 1s;
    &:hover{
        border-color: $lightRed;
        color: white;
        background-color: transparent;
    }
}

//Aqui é feita a responsividade, já que quando chega em 400 e pouquinho,tem uma quebra de linha.

@media (max-width: 451px){
    .nav{
        justify-content: center;
    }
    .navBtn{
        margin:16px 10px;
        border-color: white;
        font-size: 14px;

    }
    .ctaSection{
        gap:10px
    }
}

@media (max-width: 335px){

    .ctaSection{
        text-align:center
    }
    .imgCta{
        margin: 0 8px;
    }
}